body{
    margin: 0;
    height: 100vh;
    font-family: arial,sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(45deg,grey,green,black);
}
.poster{
    color: white;
}
.typing-text::after{
    content: "-motivation second";
    animation: typing 3s infinite;
    font: 15px;
    color: black;
}
@keyframes typing{
    50%{content: "-action creates motivation";}
}